#header{
	background: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-logo{
	width: 250px;
	padding: 10px;
}

a.menu-item{
	color: white;
	font-size: 14pt;
}
a.menu-item:hover{
	color: orange;
}
a.menu-item:active{
	color: gold;
}

#menu-container{
	font-family: 'Saira Extra Condensed', sans-serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #551A8B;
}

body{
	background: gold;
}
